.classroom {
  margin-left: 100px;
}

.students{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}


@media only screen and (max-width: 860px){
  .students {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .students {
    grid-template-columns: 100%;
  }
}